/* About Section */
.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #000;
    color: #333;
    flex-wrap: wrap;
    gap: 20px; /* Menambah jarak antar elemen */
}

.about-content {
    flex: 1;
    max-width: 600px;
    padding: 20px;
}

.about-title {
    position: relative;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffbf00;
    overflow: hidden;
}

.about-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 4px;
    background-color: #ffbf00;
    transform: translateX(-100%);
    transition: transform 0.9s ease;
}

.about-title.aos-animate::after {
    transform: translateX(0);
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.about-image {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* AOS animation styles */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(20px);
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-20px);
}

[data-aos="fade-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

[data-aos="fade-left"] {
    opacity: 0;
    transform: translateX(20px);
}

[data-aos="fade-left"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

/* Responsiveness for Mobile (Max-width: 768px) */
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 10px;
    }

    .about-content {
        max-width: 100%;
        padding: 10px;
    }

    .about-title {
        font-size: 2.5rem; /* Reduce font size for mobile */
        margin-bottom: 15px;
    }

    .about-description {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .about-image {
        max-width: 100%;
        padding: 10px;
        justify-content: center;
    }

    .about-image img {
        max-width: 90%; /* Reduce the image width for mobile */
        height: auto;
    }
}