#certifications {
  padding: 60px 20px;
  background-color: #000;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.8em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ffbf00;
}

.certification-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.certification-group {
  position: relative;
  flex: 1 1 300px;
  max-width: 300px;
}

.certification-item-blur {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.certification-item-blur:hover {
  transform: scale(1.03);
}

.certification-item-blur img {
  width: 100%;
  height: auto;
  filter: blur(8px);
  transition: filter 0.3s ease;
}

.certification-item-blur:hover img {
  filter: blur(0);
}

.certification-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.certification-group-title {
  font-size: 1.6em;
  margin-bottom: 10px;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #ffbf00;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #ffbf00;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #ffbf00;
  box-shadow: 0 0 30px 5px #ffbf00;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}